header {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.btn {
    padding: 0.5vh 2vw 0.5vh 2vw;
}

#scrollView {
    padding-right: 10vw;
    padding-left: 10vw;
}

#scrollView > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

#scrollView > div > div {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#scrollView > div > div > span {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.6rem;
}

#scrollView > div > div > p {
    display: inline-block;
    font-size: 1.6rem;
}

#scrollView > div > button {
    outline: none;
    width: 150px;
    margin-left: 50px;
}

#scrollView > div > span {
    display: inline-block;
    margin-left: 50px;
    font-size: 1.6rem;
}

.footer-display {
    display: inline-block;
}

section {
    height: calc(89vh - 89px);
    overflow: auto;
}

footer {
    text-align: right;
    width: 100vw;
    padding: 0 5px 5px 5px;
}

section::-webkit-scrollbar {
    display: none;
}

aside {
    position: absolute;
    top: calc(10vh + 57px + 20px);
    right: 12vw;
}

aside > p {
    font-size: 1.2rem;
}